.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titleStyle {
  font-size: 20px;
  font-weight: 700;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
}

.tableContainer {
  width: 1024px;
  height: auto;
}
.testdiv {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 40px 0 100px 0;
  top: 0;
  right: 0;
}
.selectCompanydiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 1024px;
  margin-top: 30px;
}

.modaltitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  background-color: var(--black-300);
}

.modalArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  background-color: var(--black-300);
}

.modalText {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: var(--black-300);
}

.loginModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  background-color: var(--black-300);
}
.loginText {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: var(--black-300);
}
@media (min-width: 744px) and (max-width: 1199px) {
  .selectCompanydiv {
    width: 740px;
  }
  .tableContainer {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .selectCompanydiv {
    width: 663px;
  }
  .tableContainer {
    width: 80%;
    height: auto;
  }

  .spaceBetween {
    gap: 171px;
  }
  .tableSize {
    max-height: 400px;
    overflow-y: auto;
  }
}
