.area {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.titleArea {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--black-100);
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.amount {
  display: flex;
  align-items: center;
  margin: 16px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modalTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  background-color: var(--black-300);
}

.modalArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  background-color: var(--black-300);
}
.modalText {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: var(--black-300);
}

.loginModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  background-color: var(--black-300);
}
.loginText {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: var(--black-300);
}

@media (min-width: 744px) and (max-width: 1199px) {
  .area {
    max-width: 744px;
    padding: 0 10px;
  }
}
