.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.name {
  color: var(--brand-orange);
  font-size: 17px;
  font-weight: 600;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: var(--brand-orange);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
