.my {
  background-color: transparent;

  width: 126px;
  height: 187px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.com {
  border-radius: 8px;
  background: var(--gray-gray_400, #333);
  width: 126px;
  height: 187px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.deleteBtn {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 8px;
  right: 8px;

  background-color: transparent;
}

.content {
  width: 114px;
  flex-shrink: 0;
  background-color: transparent;

  display: flex;
  padding-top: 32px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content > div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  object-fit: cover;
}

.name {
  background-color: transparent;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 120%;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;

  flex-shrink: 1;
}

.category {
  background-color: transparent;

  color: #747474;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

  flex-shrink: 1;
}
