.box {
  position: relative;
  width: 1200px;
  height: 600px;
  border: 1px solid #fc0018;
  animation: borderColorChange 0.66s infinite linear;
  overflow: hidden;
  user-select: none;
}

@keyframes borderColorChange {
  0% {
    border-color: #fc0018;
  }
  20% {
    border-color: #fcee02;
  }
  40% {
    border-color: #53fe00;
  }
  60% {
    border-color: #017aff;
  }
  80% {
    border-color: #9901fb;
  }
  100% {
    border-color: #ff05aa;
  }
}

.btnArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 150px;
  height: 30px;
  border: 1px solid #fc0018;
  animation: borderColorChange 0.66s infinite linear;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}
