.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* 헤더 스타일 */
.table thead th {
  height: 39px;
  background-color: var(--black-100);
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding: 16px 20px;
  white-space: nowrap;
  border-bottom: 2px solid #444;
}

/* 바디 셀 스타일 */
.table td {
  height: 64px;
  background-color: var(--black-100);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 15px 16px;
  border-bottom: 1px solid var(--gray-200);
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:hover td {
  background-color: var(--gray-300);
  cursor: pointer;
}

.table tbody tr:hover td span div {
  background-color: var(--gray-300);
  cursor: pointer;
}

.table tbody tr:hover td div {
  background-color: var(--gray-300);
  cursor: pointer;
}
.table tbody tr:nth-child(1) td {
  border-top: 20px solid var(--black-400); /* 원하는 색과 두께로 설정 */
}

.imgbox img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: var(--black-100);
  background-image: url("https://picsum.photos/250/250");
}

.namebox {
  background-color: var(--black-100);
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 10px;
}

.imgbox {
  background-color: var(--black-100);
}
