.myCompanySection * {
  background-color: white;
  color: black;
  padding: 10px;
}

.myCompanySection .selectModal {
  background-color: rgb(160, 228, 255);
}

.myCompanySection .modalCloseBtn {
  background-color: black;
}
