@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Pretendard-Regular", sans-serif;
}
html {
  font-family: "Pretendard-Regular", sans-serif;
}
* {
  box-sizing: border-box;
  background-color: var(--black-400);
  color: var(--white-text);
}

:root {
  --black-400: #131313;
  --black-300: #212121;
  --black-200: #282828;
  --black-100: #2e2e2e;
  --gray-400: #333333;
  --gray-300: #4b4b4b;
  --gray-200: #747474;
  --gray-100: #d8d8d8;
  --brand-orange: #eb5230;
  --blue: #eb5230;
  --red-error: #c41013;
  --white-text: #ffffff;
}
