.area {
  height: 112px;
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 40px 0 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--gray-200);
}
.areaForm {
  height: 40px;
  margin: 16px 0 0;
  gap: 12px;
  padding: 0;
  border: none;
  background-color: var(--black-300);
}

.img {
  width: 82px;
  height: 82px;
  border-radius: 50px;
  object-fit: cover;
}
.imgForm {
  width: 40px;
  height: 40px;
  background-color: var(--black-300);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxForm {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background-color: var(--black-300);
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titleForm {
  font-size: 18px;
  font-weight: 500;
  background-color: var(--black-300);
}

.category {
  color: var(--gray-200);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.categoryForm {
  font-size: 16px;
  font-weight: 400;
  background-color: var(--black-300);
}

@media (min-width: 375px) and (max-width: 743px) {
  .area {
    height: 64px;
    padding-bottom: 16px;
  }

  .img {
    width: 48px;
    height: 48px;
  }

  .title {
    font-size: 20px;
  }

  .category {
    font-size: 16px;
  }
}
