.area {
  position: relative;
  display: inline-block;
}

.imgBtn {
  background-color: var(--black-100);
  border: none;
  cursor: pointer;
}
.menu {
  position: absolute;
  right: 5px;
  top: 20px;
  background: var(--black-400);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  width: 130px;
  z-index: 10;
}
.option {
  color: var(--gary-100);
  padding: 11px 23px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 1px solid var(--gray-200);
}
.option:last-child {
  border-bottom: none;
}
.option:hover {
  cursor: pointer;
}
