.tableNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
}
.tableNavRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.tableTitle {
  font-size: 24px;
  font-weight: 700;
}

.tableNavLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableSize {
  width: 1200px;
  height: 640px;
}
.startupPage {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬하려면 */
}

.catArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.noDataMessage {
  margin-top: 30px;
  font-size: 30px;
  animation: colorChange 0.66s infinite linear;
  margin-bottom: 50px;
}
@keyframes colorChange {
  0% {
    color: #fc0018;
  }
  20% {
    color: #fcee02;
  }
  40% {
    color: #53fe00;
  }
  60% {
    color: #017aff;
  }
  80% {
    color: #9901fb;
  }
  100% {
    color: #ff05aa;
  }
}

@media (min-width: 744px) and (max-width: 1199px) {
  .tableNav {
    width: 825px;
  }
  .tableSize {
    width: min(824px, 100%);
  }
  .tablebox {
    width: 824px;
  }
  .customInput {
    font-size: 15px;
    padding: 8px 50px;
    width: 220px;
  }
}

@media (max-width: 767px) {
  .tableTitle {
    min-width: 100px;
  }
  .tableNav {
    width: 100%;
    padding: 0 16px;
  }

  .tableSize {
    width: 100%;
    padding: 0 16px;
  }

  .tablebox {
    width: 100%;
    padding: 0 16px;
  }
  .customInput {
    font-size: 15px;
    padding: 8px 50px;
    width: 220px;
  }
}
