.tableNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
}
.tableNavRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.tableTitle {
  font-size: 24px;
  font-weight: 700;
}

.tableNavLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableSize {
  width: 1200px;
  height: 640px;
}
.startupPage {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬하려면 */
}

.noDataMessage {
  display: flex;
  height: auto;
  padding: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .tableNav {
    width: min(824px, 100%);
  }
  .tableSize {
    width: min(824px, 100%);
  }
  .tablebox {
    width: 824px;
  }
}
